.menu{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
.menu:hover::after{
    border-bottom: 3px solid #07f013;
    content: '';
    display: block;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}